.input {
  height: 2em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;  
  font-size: 1.4em;
  background-color:#ffff;
  color: #000000;
  padding: 0.5em;
  outline: 1px solid #888888;
}
